@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #EEF1F7;
}

.financial-statement {    
    display: block;
    width: fit-content;
    background-color: #FFF;
    border-radius: 16px;
    margin: 10px auto;
    border-style: none;
    box-shadow: 0 23px 20px -24px hsla(219, 37%, 18%, 0.24);
    box-sizing: border-box;
    color: #3c4043;
    fill: currentcolor;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
    z-index: 0;
}

.table {
    overflow-x: auto;
}
